@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    
    overflow-y: hidden;
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    }

    /* enter forms */
    body.enterforms {
        background-color: #FFA500;
    }
    body.controlPanel {
        background-color: #c0c0c0
    }
    .form-control {
        min-height: 41px;
        background: #fff;
        box-shadow: none !important;
        border-color: #e3e3e3;
    }
    .form-control:focus {
        border-color: #644572;
    }
    .form-control, .btn {        
        border-radius: 2px;
    }
    .login-form {
        width: 350px;
        margin: 0 auto;
        padding: 100px 0 30px;
        font-family: 'Ubuntu', sans-serif;
    }
    .login-form form {
        color: #7a7a7a;
        border-radius: 2px;
        margin-bottom: 15px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;	
        position: relative;	
    }
    .login-form h2 {
        font-size: 22px;
        margin: 35px 0 25px;
    }
    .login-form .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -50px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #644572;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .login-form .avatar img {
        width: 100%;
    }	
    .login-form input[type="checkbox"] {
        position: relative;
        top: 1px;
    }
    .login-form .btn, .login-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #644572 !important;
        border: none;
        margin-bottom: 20px;
    }
    .login-form .btn:hover, .login-form .btn:focus {
        background: #713775 !important;
    }    
    .login-form a {
        color: #fff;
        text-decoration: underline;
    }
    .login-form a:hover {
        text-decoration: none;
    }
    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }
    .login-form form a i.logosocial {
        color: white;
    }
    .login-form form a:hover {
        text-decoration: underline;
    }
    .login-form .bottom-action {
        font-size: 14px;
    }

    /****************/
    .fa-home {
        font-size: 1.4rem;
    }

    .fa-user {
        font-size: 1.4rem;
    }

    p a {
        text-decoration: none;
    }

    p a.githubacc {
        color: black;
    }

    p i.giticon {
        filter: invert(1);
    }

    /* nav */
    ul.homenav {
        position:fixed;
        z-index:100;
        top:0;
        background-color: none;
        width:100%;
        height:30px;
        padding-right: 25px;
        padding-top: 20px;
    }
    
    ul.homenav li a {
        color: white;
        //text-decoration: none;
    }

    ul.homenav li a:hover {
        color: #f74f4f;
    }

    ul.homenav li.btn {
        background-color: black;
        border-radius: 20px;
    }
    /*****************/
    
    .style_image {
        height: 40%;
        width: auto;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    /******************/

    .section { //*******************
	    text-align: center;
        font-family: 'Ubuntu', sans-serif;
        // padding-top: 8%;
        h1 {
            font-size: 5em;
            color: white; //#19c072;
            margin:0;
        }
        
        .intro p {
            color: #fff;
            font-size: 20px;
        }

    }

    /* overwriting fullPage's styles for control arrows for slides
    * --------------------------------------- */ //*******************
    .controlArrow.prev { /*?*/
        left: 50px;
    }

    .controlArrow.next { /*?*/
        right: 50px;
    }

    .fp-controlArrow.fp-prev {
        left: 6%;
        display:none;
    }

    .fp-controlArrow.fp-next {
        right: 6%;
        display:none;
    }

    /* overwriting fullPage's styles for the navigation dots (to place it where we want)
    * --------------------------------------- */
    .fp-slidesNav.bottom {
        bottom: 25px;
    }

    /* fullPage's bottom menu
    * --------------------------------------- */
    #infoMenu li a {
        color: #fff;
    }

    .fp-tableCell {
        vertical-align: top;
        // display: initial !important;
    }
    
    #mapid {
        width: 800px;
        height: 200px;
    }

    
    .chat-room {
        height: 100vh;
        font-family: 'Ubuntu', sans-serif;
        background-color: #854f89; // #f5e979;
    
    #messages {
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 200px;
        padding-top: 20px;
    }
  
    .navbar {
        //border: 1px solid #644572;
        background-color: white;
        border-bottom: 2px solid #eeeeee;
        //margin-left: 5px;
        width: 100%;
    }
    
    .message {
        min-height: 59px;
        .content-container {
            display: inline-block;
            .content {
                border-style: solid;
                border-color: #ffc400;
                border-width: 1px;
                color: #3d4159;
                background-color: #ffe152;
                padding: 8px 16px;
                border-radius: .25rem;
            }
            .author {
                font-size: 0.8rem;
                color: white;
                margin-left: 10px;
            }
        }
        &.me {
            .content-container {
            float: right;
                .content {
                    border-color: #dd3033;

                    background-color: #f74f4f;
                    color: #3d4159;
                    
                }
            }
        }
    }
    
    .chat-box {
        position: absolute;
        bottom: -10px;
        padding: 20px;
        width: 100%; //75%;
        margin-left: -15px;
        background-color: white;
        border-top: 1px solid #eeeeee;
        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
        }
        .btn {
            height: 45px;
        }
    }
}
  
.card.no-outline {
    border: none;
}
  
.room-link {
    &:hover {
        text-decoration: none;
    }
    .room-card {
        transition: background-color 0.5s ease;
        //border-radius: 20px;
        &:hover {
            background-color: #d3d3d3;
            border-right: 3px solid #644572;
        }
        &.active {
            background-color: #027B7E;
        .name {
            color: white;
        }
        .member-count {
            color: #e0e0e0;
        }
        }
        .name {
            font-weight: bold;
            color: black;
        }
        .member-count {
            color: #777777;
            font-weight: light;
        }
    }
}
  /* overriding bootstrap's style */
.rooms-sidebar {
    border-right: 1px solid #eeeeee;
}

.btn-primary:default {
    color: #fff;
    background-color: #713775;
    border-color: #713775;
}

.btn-primary:hover {
    background-color: #343156;
}

input {
    border-color: #713775 !important;
}

input:hover {
    border-color: #343156 !important;
}

input:disabled, input.btn.btn-primary.btn-block:hover, input.btn.btn-primary:hover {
    border-color: #343156 !important;
    background-color: #343156 !important;
}


input:focus { 
    outline: none !important;
    border-color: #713775 !important;
    box-shadow: none !important;
}

.card-body {
    
    p#roomlogout a {
        color: #f74f4f;
    }

    span.admpanel a {
        color: #FFA500;
    }
}
.card-body-color {
    /*border-left: 2px solid black !important;
    border-right: 2px solid black !important;
    border-bottom: 2px solid black !important;*/
    background-color: #dadada;
}

a {
    color: black;
    text-decoration: none;
}

/*******************/
.small, small {
    padding-right: 15px;
}



/* some interesting color palettes:
.color1 {color: #f1d070;}
.color2 {color: #f4de8f;}
.color3 {color: #122e62;}
.color4 {color: #146683;}
.color5 {color: #17a0aa;}

.color1 {color: #343156;}
.color2 {color: #644572;}
.color3 {color: #a65a96;}
.color4 {color: #f17cb7;}
.color5 {color: #f6a4cf;}

.color1 {color: #002c0e;}
.color2 {color: #005b78;}
.color3 {color: #00be9a;}
.color4 {color: #53f473;}
.color5 {color: #ffff70;}
*/